#bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

#bg img {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: pmzd;
	src: url("../font/pmzd.ttf");
}

#title {
	margin-top: 40px;
	font-family: pmzd;
	font-size: 56px;
	color: white;
	text-align: center;
}